section#aboutus.aboutus-section.section(data-section="aboutus")
    .wrapper
        .aboutus-section__image
            img(src="assets/img/aboutus-section/aboutus-section.jpg", alt="image description")
        .aboutus-section__content
            p.section__suptitle
                <i class="fas fa-hand-sparkles"></i>
                | Kilka słów o naszej firmie
            h2.section__title CleanPro - z myślą o Klientach           
            p.aboutus-section__description.section__description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odit labore quod eius voluptatem quisquam ea commodi ipsam dicta amet dolorum optio, inventore eos nisi voluptate et sit? Soluta quibusdam laboriosam est sapiente nulla animi ea, temporibus accusamus. Ipsam unde ullam odit porro quibusdam aperiam ut nulla. Quam, quibusdam. Ipsa, consectetur!
            .aboutus-section__counters
                .aboutus-section__counter
                    span(data-count="1430") 0+
                    span 
                        <i class="far fa-check-square"></i> 
                        | Stałych Klientów
                .aboutus-section__counter
                    span(data-count="8320") 0+
                    span 
                        <i class="far fa-check-square"></i> 
                        | Sprzątniętych lokali
                .aboutus-section__counter
                    span(data-count="235") 0+
                    span 
                        <i class="far fa-check-square"></i> 
                        | Pracowników
                .aboutus-section__counter
                    span(data-count="7") 0+
                    span 
                        <i class="far fa-check-square"></i> 
                        | Lat na rynku

