footer.footer
    .wrapper
        .footer__top
            .footer__col
                h4.footer__title Kim jesteśmy
                p.footer__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia a aspernatur iusto, consectetur omnis obcaecati cupiditate quasi aliquid esse placeat qui molestias sint nemo accusantium ex! Deleniti nobis dolore quas veritatis assumenda explicabo ea facere quisquam reiciendis autem.
            .footer__col
                h4.footer__title Godziny otwarcia
                ul
                    li
                        span Poniedziałek
                        span 09:00 - 18:00
                    li
                        span Wtorek
                        span 09:00 - 18:00
                    li
                        span Środa
                        span 09:00 - 18:00
                    li
                        span Czwartek
                        span 09:00 - 18:00
                    li
                        span Piątek
                        span 09:00 - 18:00
                    li
                        span Sobota
                        span Biuro nieczynne
                    li
                        span Niedziela
                        span Biuro nieczynne
            .footer__col
                h4.footer__title Dla klientów
                ul
                    li
                        a(href="/#aboutus") O nas
                    li
                        a(href="uslugi/sprzatanie-biura.html") Sprzątanie biura
                    li
                        a(href="uslugi/sprzatanie-domu.html") Sprzątanie domu
                    li
                        a(href="uslugi/sprzatanie-mieszkania.html") Sprzątanie mieszkania
                    li
                        a(href="uslugi/sprzatanie-po-remoncie.html") Sprzątanie po remoncie
                    li
                        a(href="zamowic-usluge.html") Zamówić usługę
                    li
                        a(href="kontakt.html") Kontakt
                    li
                        a(href="polityka-prywatnosci.html") Polityka prywatności
            .footer__col
                h4.footer__title Kontakt z nami
                ul
                    li
                        a(href="https://goo.gl/maps/L4FkDNdsGj5PRUUy7", target="_blank") Listopadowa 12, 02-496 Warszawa
                    li
                        a(href="tel:+48222333444") +48 222 333 444
                    li
                        a(href="mailto:kontakt@cleanpro.pl") kontakt@cleanpro.pl
                    li.footer__social
                        a(href="#")
                            <i class="fab fa-facebook-f"></i>
                        a(href="#")
                            <i class="fab fa-instagram"></i>
                        a(href="#")
                            <i class="fab fa-youtube"></i>
                        a(href="#")
                            <i class="fab fa-twitter"></i>
        .footer__bottom 
            p © 
                span.footer__year 2021 
                | CLEANPRO. Wszelkie prawa zastrzeżone.
                | Realizacja: 
                a(href="https://silverwebgroup.pl", target="_blank") SILVER WEB GROUP
