section.steps-section.section
    .wrapper
        p.section__suptitle
            <i class="fas fa-hand-sparkles"></i>
            | Postaw na jakość
        h2.section__title Zostań Klientem CleanPro           
        p.steps-section__description.section__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, inventore vero assumenda, aperiam facere illum, sapiente est magnam ut corporis iste dolorum accusantium dolores possimus esse earum natus aut officia nostrum harum excepturi expedita? Tempore consectetur ipsam dolorum, obcaecati recusandae assumenda repudiandae nisi neque facere delectus maiores eum impedit reprehenderit!
        .steps-section__cards
            .steps-section__card.card
                .card__icon
                    <i class="fas fa-search"></i>
                .card__title Zapoznaj się z ofertą
                .card__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsam dolore quam!
            .steps-section__card.card
                .card__icon
                    <i class="fas fa-calculator"></i>
                .card__title Wybierz pakiet
                .card__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsam dolore quam!
            .steps-section__card.card
                .card__icon
                    <i class="fas fa-share-square"></i>
                .card__title Złóż zamówienie
                .card__description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ipsam dolore quam!