doctype html
html(lang="pl")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon", href="assets/img/favicon.png", type="image/png")
    title CleanPro - Strona główna
    link(rel="stylesheet", href="assets/css/style.css")
    script(src="https://kit.fontawesome.com/0c51b4e0d7.js", crossorigin="anonymous")
  body(data-section="home")
    include modules/header-zero
    main
        include modules/slider
        include modules/aboutus-section
        include modules/services-section
        include modules/choose-section
        include modules/portfolio-section
        include modules/steps-section
        include modules/faq-section
    include modules/footer-zero
    script(src="script.js") 