doctype html
html(lang="pl")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="icon", href="assets/img/favicon.png", type="image/png")
    title CleanPro - Polityka prywatności
    link(rel="stylesheet", href="assets/css/style.css")
    script(src="https://kit.fontawesome.com/0c51b4e0d7.js", crossorigin="anonymous")
  body
    include modules/header-zero
    main
        section.hero
            h1.hero__title Polityka prywatności
            .hero__links
                a(href="/") Home
                span /
                a(href="polityka-prywatnosci.html") Polityka prywatności
        section.privacy-policy.section
            .wrapper
                h2.section__title Polityka prywatności
                p.privacy-policy__text.section__description Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti laboriosam tenetur cupiditate molestias laudantium enim ducimus architecto. Blanditiis et cum voluptate eius, necessitatibus ut cupiditate impedit saepe enim quia ab sed iste possimus architecto sit hic culpa qui assumenda corporis? Voluptatum eius perspiciatis tempore libero! Reiciendis tempora quibusdam suscipit ratione facere in dolores amet quia perspiciatis doloribus nostrum dolor, earum adipisci nobis neque at ipsum similique culpa ea mollitia! Commodi veritatis, quis enim non aperiam dolor dicta nihil incidunt. Repellendus, quod! Vero eius recusandae iusto quas itaque aut veritatis cumque quam, harum amet unde nobis sint quasi animi temporibus, excepturi mollitia optio repellat sed? Harum velit at sunt ad placeat pariatur nemo dicta temporibus! Sed in laborum exercitationem quasi tempora unde ad, iste perspiciatis tempore quisquam fuga id, nulla quod libero adipisci. Culpa praesentium enim tempore incidunt autem provident sint ut sequi quasi dolor dignissimos, dicta quam laboriosam esse perspiciatis nobis saepe rerum delectus nam eveniet at, impedit, nulla corrupti? Temporibus impedit natus officia, doloribus, maxime facere atque deleniti molestias nisi adipisci tempore iste similique nemo, est sequi numquam eum labore quibusdam repellat odit quaerat provident? Voluptas ipsam esse, neque reprehenderit illo fuga laborum rem voluptatibus, aspernatur eaque quasi quod.
    include modules/footer-zero
    script(src="script.js") 